[general]
; NOTE: all paths should exist beforehead

; Path for job JSONs
; job_path = "/tmp/jobs"

; prinf pattern for job filenames (.json is auto)
; Short usage, the following gets substituted:
; %1$llu  is timestamp (guint64)
; %2$lu   is random integer (guin32)
; %3$s    is md5 of (timestamp + plugin name + random integer)
; %4$s    is plugin name ("janus.plugin.cm.audioroom")
; job_pattern = "job-%3$s"

; printf pattern for recordings filenames
; Short usage, the following gets substituted:
; %1$s    is streamChannelKey (string)
; %2$llu  is timestamp (guint64)
; %3$s    is type ("audio", "video" or "thumb" string)
; recording_pattern = "rec-%1$s-%2$llu-%3$s"
